body {
    margin: 0;
    width: 100vw;
    height: 75vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background:black ;
}

#watch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    color: red;
    border-radius: 50%;
    font-family: monospace;
    font-size: 2rem;
}

h1{

    color: cyan;
    font-family: monospace;
    font-size: 2.5rem;
}